$white: #FFFFFF;
$secoundary: #80C8FC;
$warning: #BE8D0D;
$warning-shade-1: #B5A44A;
$warning-shade-2: #E8D043;
$secoundary-light: #1CF1FE;
$primary: #0069F3;
$primary-shade-1: #4E95F2;
$primary-shade-2: #0774F9;
$primary-shade-3: #2497E3;
$primary-shade-4: #3D94FC;
$primary-shade-5: #2C8DFB;
$primary-shade-6:#517AA7;
$green-shade-1: #2B3C3D;
$green-shade-2: #4C7A7C;
$green-shade-3: #C2D3D4;
$success: #09BD7C;
$success-shade-1: #299A74;
$success-shade-2: #64AF29;
$success-shade-3: #56BCB7;
$grey-100: #515151;
$grey-200: #333333;
$grey-300: #4D4D4D;
$grey-400: #898989;
$grey-500: #767676;
$grey-600: #1E1E1E;
$grey-700: #141414;
$grey-800: #292D34;
$grey-900: #4B4F57;
$grey-1000: #B1B1B1;
$grey-1100: #373737;
$grey-1200: #D7D7D7;
$grey-1300: #29292F;
$grey-1400: #C4C4C4;
$grey-1500: #4E4E4E;
$grey-1600: #A4A4A4;
$grey-1700: #313135;
$grey-1800: #595959;
$grey-1900: #3D3D43;
$grey-2000: #545356;
$grey-2100: #4A4A4A;
$grey-2200: #707070;
$grey-2300: #5A5A5A;
$grey-2400: #36363B;
$grey-2500: #202026;
$grey-2600: #1F2329;
$grey-2700: #A8A8A8;
$grey-2800: #969BA5;
$grey-2900: #636974;
$grey-3000: #31353C;
$grey-3100: #2F2E36;
$grey-3200: #5F5F5F;
$grey-3300: #ABABAB;
$grey-3400: #393737;
$grey-3500: #E7E7E7;
$grey-3600: #CDCDCD;
$grey-3700: #ADADAD;
$grey-3800: #808080;
$grey-3900: #ACACAC;
$grey-4000: #5B5B5B;
$grey-4100: #353535;
$grey-4200: #76767C;
$grey-4300: #DAD6D6;
$grey-4400: #E3E3E3;
$grey-4500: #9BA8C2;
$grey-4600: #24282D;
$error: #F40218;
$error-shade-1: #9C2B2E;
$error-shade-2: #FD7575;
$error-shade-3: #D01E1E;
$error-shade-4: #FF3A3A;
$black: #000000;
$black-shade-1: #1C1B1F;
$search: #1C7794;
$group: #6687AB;